# venv
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files / secrets
.env
.env
.env.*
!.env.example

# Build
dist/
build/
*.egg-info/